@import 'mixins';
@import 'reset';

body {
  background-color: #000000;
  position: relative;
  height: 100vh;

  @include media-horizontal {
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  padding: 5vw;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;

  @include media-horizontal {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-horizontal {
      width: 40%;
      padding-left: 2vw;
      height: 50vh;
    }

    figure {
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      position: relative;
      width: 100%;
    }

    iframe {
      border: 1px solid #b2b2b2;
      width: 100%;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }

    .clock {
      padding: 5vw;
      font-size: 15vw;
      font-weight: bold;

      @include media-horizontal {
        font-size: 10vw
      }
    }
  }
}

//Loaded list and list elements
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 4vw;

  @include media-horizontal {
    width: 50%;
    overflow: auto;
    height: 80vh;
    justify-content: flex-start;
  }
}

.list-name {
  margin-bottom: 3vh;
}

li {
  font-size: 18px;
  padding: 1vw .5vw;
  text-transform: initial;
  font-weight: normal;

  @include media-horizontal {
    font-size: 22px;
  }
}


.list-element {
  display: flex;
  justify-content: space-between;
  //width: 100%;
  padding-right: 1vw;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #b2b2b2;
  }
}

.checked {
  text-decoration: line-through;

  /* Add a "checked" mark when clicked on */
  &::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    left: -5vw;

    @include media-horizontal {
      left: -3vw;
    }
  }
}

//Edit list elements
.list-element__edit {
  display: flex;
  flex-direction: row;
}

.checkbox {
  padding: 2vw;
  width: 18px;
  height: 18px;

  @include media-horizontal {
    width: 20px;
    height: 20px;
  }
}


//Select list
.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;

  > * {
    margin: .5vw;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #b2b2b2;
    }
  }
}

.error {
  color: #f1f1f1;
  background: #212121;
}
