@import 'mixins';
@import 'reset';

body {
  background-color: #000000;
  position: relative;
  height: 100vh;

  @include media-horizontal {
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  //padding: 5vw;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;

  @include media-horizontal {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 5vw;
  }

  > div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-horizontal {
      padding: 0 4vw 0 2vw;
      height: 50vh;
      width: 50%;
    }

    figure {
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      position: relative;
      width: 100%;
    }

    iframe {
      border: 1px solid #b2b2b2;
      width: 100%;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }

    .clock {
      padding: 5vw;
      font-size: 23vw;
      font-weight: bold;

      @include media-horizontal {
        padding: 2vw 5vw;
        font-size: 15vw
      }
    }
  }
}

//Loaded list and list elements
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 4vw;

  @include media-horizontal {
    width: 50%;
    overflow: auto;
    height: 90vh;
    justify-content: flex-start;
  }
}

li {
  font-size: 20px;
  padding: 1vw .5vw;
  text-transform: initial;
  font-weight: normal;

  @include media-horizontal {
    font-size: 28px;
  }
}


.list-element {
  display: flex;
  justify-content: space-between;
  //width: 100%;
  padding-right: 1vw;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #b2b2b2;
  }
}

.checked {
  text-decoration: line-through;

  /* Add a "checked" mark when clicked on */
  &::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
    left: -5vw;

    @include media-horizontal {
      left: -3vw;
    }
  }
}

//Edit list elements
.list-element__edit {
  display: flex;
  flex-direction: row;
}

.checkbox {
  padding: 2vw;
  width: 18px;
  height: 18px;

  @include media-horizontal {
    width: 20px;
    height: 20px;
  }
}

//Select list
.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;

  > * {
    margin: .5vw;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #b2b2b2;
    }
  }
}

//Scrollbar

::-webkit-scrollbar {
  width: 24px;
  border: 5px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  background-clip: padding-box;
  border-radius: 14px;
}

::-webkit-scrollbar-track {
  background-color: #bbbbbb;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 18px;
  width: 21px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #555555 transparent;
  border-radius: 10px 10px 0 0;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 12px 12px 12px;
  border-color: #555555 transparent transparent transparent;
  border-radius: 0 0 10px 10px;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

//New list input
.new-list__container {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;

  @include media-horizontal {
    width: 35vw;
    height: 70vh;
    padding: 2vw;
    top: 15%;
    left: 25%;
    justify-content: space-between;
  }

  .new-list__data {
    width: 90%;
    height: 90%;
    margin: 0 auto 1vw;

    div {
      padding-bottom: 2vh;
      display: flex;
      flex-direction: column;
      font-size: 20px;

      input {
        margin-top: 1vh;
        font-size: 18px;
      }
    }

    .new-list__add-task-inputs {
      display: flex;
      flex-direction: column;

    }

    .new-list__todos {
      overflow: auto;
      height: 70vh;

      @include media-horizontal {
        height: 50vh;

      }
    }
  }
}

.btn {
  width: 50%;
  height: 5vh;
  margin: 0 auto;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }
}
